# Spreadsheet ID or full URL of the tracker
SPREADSHEET_ID="10GMIocCDKIRZNtyMRv59VWskXxXi_NoMRAAqAjI3lVA"
# Optional - defaults to ./google-service-account.json
GOOGLE_SERVICE_ACCOUNT_FILE="google-service-account.json"
# Optional - defaults to ./output
OUTPUT_DIR=
